# This is the configuration file for imap-counter
#
# Comments begin with a # (pound sign).
#
# Blank lines are ignored.
#
# Values are name = value
#
# Spaces around the equals sign are ignored.

##########
# Mandatory Fields
##########
# DNS Hostname of the IMAP Server
server = imap.example.com   
# Username is your IMAP username
username = user@example.org
# Password is your IMAP password
password = password

##########
# Optional Fields
# 
# Defaults are shown but commented out
##########

##########
# Mail Server Settings

# TCP port of IMAP. SSL-only servers use 993
#
# port = 143

# IMAP default mailbox is INBOX
#
# mailbox = INBOX

# If True, use SSL for whole connection. Usually port 993.
#
# usessl = False

# If true, negotiate encryption on a non-SSL session
#
# inlinetls = False

##########
# Appearance Settings

# If all, print summaries of all inbox messages in the menu. If new,
# print summaries of unread messages in the menu.
#
# expand = False

# Mailbox URL is the URL to your mailbox. Default is an empty string,
# which will not display an "Open Mail" item in the dropdown menu.
# Setting this to a full URL (eg. http://mail.example.org/inbox/)
# will enable the "Open Mail" line.
# mailbox_url =

# Message URL is the message-specific URL. Use %s to represent the
# message ID. For example, on Fastmail this might be
#
#     https://app.fastmail.com/mail/Inbox/%s
#
# message_url =

# Colors for the envelope and number of unread messages, in the menu
# bar, when there are messages.
#
# Color names are the standard CSS color names. See
#
#     https://www.w3schools.com/cssref/css_colors.asp
#
# for a handy reference.
#
# Light or dark depends on your OS Appearance setting.
#
# unread_light = black
# unread_dark = white
