#!/bin/sh
#
# An hook script to verify what is about to be committed.
# Called by "git commit" with no arguments.  The hook should
# exit with non-zero status after issuing an appropriate message if
# it wants to stop the commit.

`poetry env activate`
black --check *.py || exit 1
flake8 *.py || exit 1
pylint *.py || exit 1
